/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #1c6273;
  --ifm-color-primary-dark: #195867;
  --ifm-color-primary-darker: #185362;
  --ifm-color-primary-darkest: #144551;
  --ifm-color-primary-light: #1f6c7e;
  --ifm-color-primary-lighter: #207184;
  --ifm-color-primary-lightest: #247f95;
--ifm-code-font-size: 95%;
--docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
--ifm-color-primary: #33bee1;
--ifm-color-primary-dark: #20b3d9;
--ifm-color-primary-darker: #1ea9cd;
--ifm-color-primary-darkest: #198ca8;
--ifm-color-primary-light: #4bc6e5;
--ifm-color-primary-lighter: #57c9e6;
--ifm-color-primary-lightest: #7bd5ec;
--docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}
